* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
body {
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
  height: 100vh;
}
#animals-Section {
  padding: 20px;
  border-radius: 30px;  
  text-align: center;
  width: 100%;
}
#animals-Section h1 {
  text-align: center;
  font-size: 2rem;
}
ul {
  display: flex;
  align-items: center;
  flex-direction: column;

}
ul li {
  list-style: none;
  font-size: 1.6rem;
  width: auto;
  margin: 12px;
  cursor: pointer;

}
.animal-Card {
  height: auto;
  width: 50%;
  display: noe;
  padding: 12px;

}
.buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: flex-end;

}
.animal-Card img{
  width: 100%;
  aspect-ratio: 3/2;
  object-position: center;
  object-fit: cover;
}
.buttons p{
    font-size: 1.4rem;
    margin-top: 12px;
}
.buttons button {
  padding: 10px 20px;
  font-size: 1.3rem;
  outline: none;
  border: none;
  border-radius: .5rem;
  color: #fff;
}
.buttons #vote{
    background: #055c04;
}
.buttons #clear{
    background: #c41212;
}
